<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'Coder_App/base.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <br>
    <ul>
        {% for curso in cursos %} <!--Nombre del KEY en VIEWs-->
            <li>Nombre: {{curso.nombre}}, 
                Modalidad: {{curso.modalidad}}, 
                Camada: {{curso.camada}}</li>
        {% endfor %}
        </ul>
    {% endblock %}
</body>
</html>